{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Weather App</h1>
    
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="POST" class="mb-4">
                {% csrf_token %}
                <div class="input-group">
                    {{ form.name }}
                    {{ form.country_code }}
                    <button type="submit" class="btn btn-primary">Add City</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        {% for weather in weather_data %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ weather.city }}</h5>
                    <p class="display-4">{{ weather.temperature }}°C</p>
                    <p class="card-text">{{ weather.description }}</p>
                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Weather icon">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %} 